<div class="mainBackground">

  <h4> change password </h4>
  <form class="customForm" #formData = "ngForm" (ngSubmit) = "changePassword(formData)" >
    <input class="textInput" type = "password" name = "oldpassword" placeholder = "old password" ngModel>
    <br/>
    <input class="textInput" type = "password" name = "newpassword" placeholder = "new password" ngModel>
    <br/>
    <input class="textInput" type = "password" name = "renewpassword" placeholder = "reenter new password" ngModel>
    <br/>
    <input type = "submit" value = "change password" class="customButton">
  </form>

  <br/>
  <button (click)="logout()" class="customButton removeButton" >LOGOUT</button>
</div>
