ul{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  li{
    display: block;
    float: left;
    list-style: none;
    margin-top: 50px;
    text-align: center;
    align-items: center;

    img{
      width: 200px;
      height: 200px;
    }
  }
}

.backButton{
  display: flex;
  position: relative;

  font-size: 25px;

  left: 50px;
  top: 20px;

  padding: 4px 9px;
}
.backButton:hover{
  cursor: pointer;

  padding: 4px 6px;
  border-radius: 15px;
  border-left: #222222 3px solid;
}

.contentContainer{
  overflow-y: scroll;
  max-height: 65vh;
}
