<div class="mainBackground">
  <div *ngIf="mapOpen" class="mapContainer">
    <app-world-map></app-world-map>
    <button (click)="mapOpen=false;" class="customButton">select from map</button>
  </div>
  <div *ngIf="!mapOpen">
    <div class="backButton" (click)="backToSubscription()"><<< Back </div>
    <h2> insert subscription data </h2>
    <form class="subscriptionDataContainer customForm" #formData = "ngForm" (ngSubmit) = "onClickSubmit(formData)" >
      <div>
          <div class="formContainer" >
            <label>subscription name<br>
              <input class="textInput" type = "text" name = "name" placeholder = "my subscription" [(ngModel)]="subscriptionName" >
            </label>
            <label>end date<br>
              <input class="textInput" type = "text" name = "end_date" placeholder = "yyyy-mm-dd" [(ngModel)]="subscriptionEndDate">
            </label>
            <label>periodicity<br>
              <input class="textInput" type = "text" name = "periodicity" placeholder = "in weeks" [(ngModel)]="subscriptionPeriodicity">
            </label>
            <label>coordinates<br>
              <input class="textInput" type = "text" name = "coordinates" placeholder = "NS ; EW" [(ngModel)]="serviceCoordinates"><br/>
              <button (click)="openMap()" class="customButton extraOptionButton">select from map</button>
            </label>
          </div>
      </div>
      <input type = "submit" value = "create subscription" class="customButton">
    </form>
  </div>
</div>
