<div class="mainBackground">
  <div class="backButton" (click)="backToSubscription()"> Back </div>
  <h2> insert subscription data </h2>
  <form class="customForm" #formData = "ngForm" (ngSubmit) = "onClickSubmit(formData)" >
    <input class="textInput" type = "text" name = "name" placeholder = "subscription name" ngModel>
    <br/>
    <input class="textInput" type = "text" name = "coordinates" placeholder = "coordinates" ngModel>
    <br/>
    <input class="textInput" type = "text" name = "end_date" placeholder = "end date (yyyy-mm-dd) " ngModel>
    <br/>
    <input class="textInput" type = "text" name = "periodicity" placeholder = "periodicity in weeks" ngModel>
    <br/>
    <input type = "submit" value = "create subscription" class="customButton">
  </form>
</div>
