.subscriptionFrame{
  background-color: #222222;

  color: #DDDDDD;

  margin: 5px;
  padding: 10px;

  border-left: #22DDAA 5px solid;
  border-right: #22DDAA 5px solid;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 100px auto;
}

.subscriptionFrame:hover {
  cursor: pointer;

  margin: 4px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: #44DDBB 3px solid;
  border-bottom: #44DDBB 3px solid;
  border-left: #44DDBB 6px solid;
  border-right: #44DDBB 6px solid;

}

.photoContainer{
  width: 100%;

  overflow: hidden;

  img{
    height: 100px;
    width: 100px;

    vertical-align: middle;
    display: inline-block;
  }
}
